<ion-app (window:resize)="onResize($event)">
    <ion-split-pane when="lg">
      <!------------ Side Menu Starts --------------->
        <ion-menu class="side-main-menu" contentId="menucontent">
          <!------------ Menu Header Starts ------------->
          <ion-header>
            <ion-toolbar >
              <ion-title>
                <div class="logo header_logo" (click)="goToPage('home', '')">
                  <img alt="logo" src="assets/images/logo.png">
                  <!-- <img src="{{file_url}}/{{siteInfo?.logo}}" alt="logo"> -->
                </div>
              </ion-title>
            </ion-toolbar>
          </ion-header>
          <!------------------ Menu Header ends -------- -->
          <ion-content class="menu-container">
            <div class="text-center" >
              
              <!-- menu loading show-->
              <div class="menu-loading" *ngIf="userInfodDataLoading">
                <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
                <div class="menu-loading-inner">
                  <ion-spinner name="dots" color="light" style="zoom:2.0;"></ion-spinner>
                </div>
              </div>
                
              <!-------------------super admin Menu Content Starts ------------>
                <mat-accordion color="primary" class="mat-menu display-inline-block margin-top-10" *ngIf="!userInfodDataLoading && get_user_type != 'group'">

                  <mat-expansion-panel class="margin-bottom-5" *ngFor="let p of menuPages; last as isLast; first as isFirst" [expanded]="p.isOpen"  #example routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                      <!-- hideToggle="true" #iconanchor -->
                      <!-- no + - -->
                      <mat-expansion-panel-header class="mat-header-bg" *ngIf="!p.pages" [class.active-parent] = "example.expanded" [routerLink]="p.value.module_url">
                        <ion-menu-toggle auto-hide="false">
                          <mat-panel-title class = "font-size-13 line-height-16">
                            <ion-icon class="margin-right-10 font-size-16" [name]="p.value.module_icon" slot="start"></ion-icon>
                            {{ p.value.module_display_name }}  
                          </mat-panel-title>
                        </ion-menu-toggle>
                      </mat-expansion-panel-header>
                      
                      <!-- work + - -->
                      <mat-expansion-panel-header class="mat-header-bg" *ngIf="p.pages" [class.active-parent] = "example.expanded">
                        <mat-panel-title class = "font-size-13 line-height-16">
                          <ion-icon class="margin-right-10 font-size-16" [name]="p.value.module_icon" slot="start"></ion-icon>
                          {{ p.value.module_display_name }}  
                        </mat-panel-title>
                        <mat-icon *ngIf="!example.expanded">add</mat-icon>
                        <mat-icon *ngIf="example.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                        
                      <!-- super admin sub menu -->
                      <ion-list class="list-items bg-none" *ngIf="p.pages">
                        <ion-menu-toggle auto-hide="false">
                          <ion-item *ngFor="let sub of p.pages" class="sub-item" (click)="goToPage(sub.value.page_url, '')" [routerLink]="sub.value.page_url" routerLinkActive="router-link-active" routerDirection="root" [routerLinkActiveOptions]="{ exact: true }">
                            <ion-icon class="font-size-20" [name]="sub.value.page_icon" slot="start"></ion-icon>
                            <ion-label class="font-size-12">
                              {{ sub.value.page_display_name }} 
                            </ion-label>
                          </ion-item>
                        </ion-menu-toggle>
                      </ion-list>

                  </mat-expansion-panel>
                </mat-accordion>
              <!-------------------- super admin  Menu Content Ends -->

            </div>

          </ion-content>
    
        </ion-menu>
      <!-- ---------- Side Menu Ends ---------------->

        <ion-router-outlet id="menucontent" main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
