<ion-content [scrollEvents]="true" (ionScroll)="onScrollHedearFix($event)">
	<!-- common header show -->
	<common-header [ngClass]="{'fix-header':isFixedHeader}"></common-header>

	<!-- contact us page start -->
	<div class="associate-us-wrapper student-register-wrapper contact-us-wrapper" >
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6" [ngClass]="{'disabled': form_submit_text == 'Submitting'}">
					<form  #acontactusAddForm="ngForm" (ngSubmit)="onSubmit(acontactusAddForm)" class="student-register-inner">
						<h6>Contact Xcelero</h6>
						<div class="row ion-padding">
							<div class="col-xs-12 col-sm-10 col-lg-12">
								<div class="assessment-inner">
									<div class="row">
										<!-- name -->
										<div class="col-xs-12 col-sm-12">
											<div>
												<!-- <ion-label position="floating">Name : <sup>*</sup> </ion-label> -->
												<ion-input placeholder="Name*" name="name" [(ngModel)]="model.name" clearInput required></ion-input>
											</div>
										</div>
										<!-- email -->
										<div class="col-xs-12 col-sm-12">
											<div>
												<!-- <ion-label position="floating">Email : <sup>*</sup> </ion-label> -->
												<ion-input placeholder="Email*" type="email" name="email" [(ngModel)]="model.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" clearInput email required></ion-input>
											</div>
										</div>
										<!-- Mobile -->
										<div class="col-xs-12 col-sm-12">
											<div>
												<!-- <ion-label position="floating">Mobile <sup>*</sup> </ion-label> -->
												<ion-input placeholder="Mobile*" OnlyNumber="true" type="tel" minlength="10"maxlength="10" name="phone" [(ngModel)]="model.phone" clearInput required></ion-input>
											</div>
										</div>
										<!-- Message -->
										<div class="col-xs-12 col-sm-12">
											<div>
												<!-- <ion-label position="floating">Message : </ion-label> -->
												<ion-textarea placeholder="Message" auto-grow="true" name="description" [(ngModel)]="model.description" clearInput></ion-textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="submit-button-wrapper">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ion-text-center">
									<div class="custom-btn">
										<!-- <ion-button class="reload clear-form" size="default" fill="clear" tooltip="Clear" flow="up" (click)="reloadPageAlert()">
											
											Clear
										</ion-button> -->

										<ion-button class="submit" size="default"
										type="submit" 
										[disabled]="!acontactusAddForm.valid"
										tooltip="Submit" flow="up">
										<ion-spinner name="crescent" *ngIf="form_submit_text == 'Submitting'"></ion-spinner> 
										<span class="submitText">{{form_submit_text}}</span>
										</ion-button>
										
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				
				<!-- Contact Info -->
				<div class="col-xs-12 col-sm-6" *ngIf="!editLoading">
					<div class="detailspage-right-item contact-info">
						<h4>Customer Support</h4>
						<div class="job-list-inner">
							<ul>
								<li>
									<div class="contact-info-item" >
										<p class="email" *ngIf="commonPageData?.sitedetails?.email">
											<span>
												<ion-icon name="mail"></ion-icon>
											 </span>
											<a href="mailto:{{commonPageData?.sitedetails?.email}}">{{commonPageData?.sitedetails?.email}}</a>
											<i *ngIf="commonPageData?.sitedetails?.alt_email">&nbsp; / &nbsp;</i>
											<a href="mailto:{{commonPageData?.sitedetails?.alt_email}}">{{commonPageData?.sitedetails?.alt_email}}</a>
										</p>
										
										<p class="email" *ngIf="commonPageData?.sitedetails?.phone">
											<span>
												<ion-icon name="call"></ion-icon>
											</span>
											<a href="tel:{{commonPageData?.sitedetails?.phone}}">{{commonPageData?.sitedetails?.phone}}</a>
											<i *ngIf="commonPageData?.sitedetails?.alt_phone">&nbsp; / &nbsp;</i>
											<a href="tel:{{commonPageData?.sitedetails?.alt_phone}}">{{commonPageData?.sitedetails?.alt_phone}}</a>
										</p>

										<p class="email">
											<span>
												<ion-icon name="pin"></ion-icon>
											</span>
											<a class="new-address">Address</a>
										</p>

										<p class="address-inner">
											<span *ngIf="commonPageData?.sitedetails?.address_1" [innerHTML]="commonPageData?.sitedetails?.address_1 | safeHtml"> </span>
											<span *ngIf="commonPageData?.sitedetails?.address_2" [innerHTML]="commonPageData?.sitedetails?.address_2 | safeHtml"> </span>
											<span *ngIf="commonPageData?.sitedetails?.city_name">{{commonPageData?.sitedetails?.city_name}} - {{commonPageData?.sitedetails?.pin}},</span>
											<span *ngIf="commonPageData?.sitedetails?.city_name">{{commonPageData?.sitedetails?.state_name}}</span>
										</p>

										
										
										<!-- <p class="email" *ngIf="commonPageData?.sitedetails?.alt_phone"><span>Alt Phone </span> <b>:</b> 
											<a href="tel:{{commonPageData?.sitedetails?.alt_phone}}">{{commonPageData?.sitedetails?.alt_phone}}</a>
										</p> -->
										
										<!-- <p class="email" *ngIf="commonPageData?.sitedetails?.alt_email"><span>Alt Email </span> <b>:</b> 
											<a href="mailto:{{commonPageData?.sitedetails?.alt_email}}">{{commonPageData?.sitedetails?.alt_email}}</a>
										</p> -->
									</div>
								</li>
							</ul>
						</div>

						<h4>Stay Connected</h4>
						<div class="job-list-inner">
							<span class="social-sites" *ngFor="let item of commonPageData?.sitedetails?.social">
								<a target="blank" href="{{item?.link}}">
									<i class="fa fa-{{item?.icon}}" aria-hidden="true"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
					
		</div>
	</div>

	<!-- contact us page start -->

	<!-- common footer show -->
	<common-footer></common-footer>
</ion-content>
