<ion-content [scrollEvents]="true" (ionScroll)="onScrollHedearFix($event)">
  <!-- common header show -->
  <common-header [ngClass]="{'fix-header':isFixedHeader}"></common-header>

  <!-- subheader -->
  <div class="listing-header-title" *ngIf="!isListLoading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h6 *ngIf="parms_action_name == 'coe'">Coe</h6>
            <h6 *ngIf="parms_action_name != 'coe'">Incubation Centre</h6>

            
            <div class="list-header-search">
              <!-- desktop serach -->
              <div class="list-info-item search-list desktop">
                  <div class="list-content">
                    <div class="search-list-inner">
                      <ion-searchbar placeholder="Search"  debounce="1000" [(ngModel)]="searchTerm" (ionChange)="searchList($event)"> </ion-searchbar>
                      <!-- <div class="search-btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </div> -->
                    </div>
                  </div>
                </div>
              <!-- mobile serach -->
              <div class="list-info-item search-list mobile" *ngIf="isMobileSearch">
                  <div class="list-content">
                    <div class="search-list-inner">
                      <ion-searchbar placeholder="Search"  debounce="1000" [(ngModel)]="searchTerm" (ionChange)="searchList($event)"> </ion-searchbar>
                      <!-- <div class="search-btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </div> -->
                    </div>
                  </div>
                </div>
                <span class="mobile-search-btn" [ngClass]="{'active':isMobileSearch}" (click)="mobileSearch();" >
                  <i matRipple class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
            
        </div>
      </div>
    </div>
  </div>
  

  <!--------- job list section start ------- -->
  <div class="listPage-wrapper job-list collage-list">

    <div class="container">
      <div class="row">

        <!-- content -->
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
          <div class="list-right-content">

            <!-- job list data-->
            <div class="row" *ngIf="fetchItems?.length > 0 && !isListLoading">
              <div class="col-xs-12 col-sm-12">
                <div class="job-list-inner">
                  <ul>
                    <li *ngFor="let item of fetchItems; let i = index;">
                      <div class="job-item"  >
                        <div class="company-logo">
                          <img *ngIf="item?.image" src="{{file_url}}/{{item?.image}}" /> 
                          <img *ngIf="!item?.image" src="assets/images/no-bg-img.jpg" /> 
                        </div>
                        <div class="job-content">
                          <h5>{{item?.name}}</h5>
                          <h6 innerHTML="{{item?.description}}"></h6>
                          <p>
                            <span *ngIf="item?.industry_type">
                              {{item?.industry_type}}
                            </span>
                            <span *ngIf="item?.job_type">
                              {{item?.job_type}}
                            </span>
                            <span *ngIf="item?.comma_separeted_qualification">
                              {{item?.comma_separeted_qualification}}
                            </span>
                            <span *ngIf="item?.comma_separeted_city">
                              {{item?.comma_separeted_city}}
                            </span>
                          </p>
                        </div>
                        <!-- <div class="view-job-button">
                          <ion-button size="default" type="button" [routerLink]="['/', 'job-details', 'job', item.id]" (click)="clickItemHighlight(listAlldata.from + i)" [ngClass]="{'hilight_activated': (activeHighlightIndex == listAlldata.from + i)}">
                            <span class="submitText">View</span>
                          </ion-button>
                        </div> -->
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <!-- no data found -->
            <div class="row" *ngIf="fetchItems?.length == 0 && !isListLoading">
              <div class="col-xs-12 col-sm-12" >
                <div class="list-no-data">
                  No Data Found
                </div>
              </div>
            </div>

            <!-- loading skeleton (list) -->
            <div class="row" *ngIf="isListLoading">
              <div class="col-xs-12 col-sm-12">
                <div class="job-list-inner skeleton">
                  <ul>
                    <li *ngFor="let item of skeleton" >
                      <div class="job-item">
                        <div class="company-logo">
                            <ion-skeleton-text animated style="width: 100%; margin:0px; height: 50px;"></ion-skeleton-text>
                        </div>
                        <div class="job-content">
                          <h5>
                            <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
                          </h5>
                          <h6>
                            <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
                          </h6>
                          <p>
                            <span>
                              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                            </span>
                            <span>
                                <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                            </span>
                            <span>
                              <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                            </span>
                          </p>
                        </div>
                        <div class="view-job-button">
                          <ion-skeleton-text animated style="width: 100%; height:30px;"></ion-skeleton-text>
                        </div>
                      </div>
                    </li>
                  </ul>
                  </div>
              </div>
            </div>

          </div>

          <!-- pagination -->
          <div class="list-page-pagination" *ngIf="pager.pages && pager.pages.length">

            <!-- referesh button -->
            <span (click)="onRefreshPage($event)" tooltip="Refresh" flow="up" delay="500" class="list-refersh">
              <ion-icon class="icon" name="refresh"></ion-icon>
            </span>

            <ul class="pagination"> <!-- *ngIf="pager.pages && pager.pages.length" -->
                <li class="circle-border" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)" tooltip="First" flow="up" delay="500">
                      <!-- First -->
                      <ion-icon name="skip-backward"></ion-icon>
                    </a>
                </li>
                <li class="circle-border" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)" tooltip="Previous" flow="up" delay="500">
                      <!-- Previous -->
                      <ion-icon name="arrow-dropleft-circle"></ion-icon>
                    </a>
                </li>
                <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
                <li>
                    Page <a>{{ pager.currentPage }}</a> of {{ pager.totalPages }} 
                </li>
                <li> <span class="ran-separator pull-right margin-top-3"></span> </li>
                <li class="circle-border" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)" tooltip="Next" flow="up" delay="500">
                      <!-- Next -->
                      <ion-icon name="arrow-dropright-circle"></ion-icon>
                    </a>
                </li>
                <li class="circle-border" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)" tooltip="Last" flow="up" delay="500">
                      <!-- Last -->
                      <ion-icon name="skip-forward"></ion-icon>
                    </a>
                </li>
            </ul>
          </div>
        </div>

        <!-- info -->
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" *ngIf="!isListLoading">

          <!-- Latest skill -->
          <div class="detailspage-right-item recommended-skill">
            <h3>Latest Skill</h3>
            <div class="job-list-inner">
              <ul>
                <li *ngFor="let item of commonPageData?.latest_skill; let i = index;">
                  <div class="list-item" [routerLink]="['/', 'skill-details', 'skill', item.id]" > 
                    <div class="image">
                      <a href="javascript:void(0)">
                        <img *ngIf="item?.image" src="{{file_url}}/{{item?.image}}" /> 
                        <img *ngIf="!item?.image" src="assets/images/no-bg-img.jpg" /> 
                      </a>
                    </div>
                    <div class="list-item-content">
                      <div class="list-item-content-inner">
                        <h4 class="title">{{item?.name}} </h4>
                        <p>{{item?.short_description}}</p>
                        <div class="price" *ngIf="item?.price != 0">
                          <h4> <span class="rupis">&#8377;</span> {{item?.price}}</h4>
                        </div>
                        <div class="custom-btn">
                          <ion-button size="default">
                            <span class="submitText" *ngIf="item?.price != 0">Buy</span>
                            <span class="submitText" *ngIf="item?.price == 0">View</span>
                          </ion-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngIf="commonPageData?.latest_skill && commonPageData?.latest_skill.length == 0">
                  <p class="no-rightside-data"> No Skill Found</p>
                </li>
              </ul>
            </div>
          </div>

          <!-- Latest job -->
          <div class="detailspage-right-item ">
            <h3>Latest Job</h3>
            <div class="job-list-inner">
              <ul>
                <li *ngFor="let item of commonPageData?.latest_job; let i = index;">
                  <div class="job-item"  >
                    <div class="company-logo">
                      <img *ngIf="item?.company_logo" src="{{file_url}}/{{item?.company_logo}}" /> 
                      <img *ngIf="!item?.company_logo" src="assets/images/no-bg-img.jpg" /> 
                    </div>
                    <div class="job-content">
                      <h5>{{item?.name}}</h5>
                      <p>
                        <span *ngIf="item?.industry_type">
                          {{item?.industry_type}}
                        </span>
                        <span *ngIf="item?.job_type">
                          {{item?.job_type}}
                        </span>
                        <span *ngIf="item?.comma_separeted_qualification">
                          {{item?.comma_separeted_qualification}}
                        </span>
                        <span *ngIf="item?.city">
                          {{item?.city}}
                        </span>
                      </p>
                    </div>
                    <div class="view-job-button">
                      <ion-button size="default" type="button" [routerLink]="['/', 'job-details', 'job', item.id]">
                        <span class="submitText">View</span>
                      </ion-button>
                    </div>
                  </div>
                </li>
                <li *ngIf="commonPageData?.latest_job && commonPageData?.latest_job.length == 0">
                  <p class="no-rightside-data">No Job Found</p>
                </li>
              </ul>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
  <!-- job list section end -->

  <!-- common footer show -->
  <common-footer></common-footer>

</ion-content>

